/**
* Layout styles
*/

.portfolio_item {
	left: right;
    margin: 0 0 20px 0;
    padding:20px 20px 0 20px;
    box-shadow:1px 2px 2px #eaeaea;
    border:1px solid #eaeaea;
}

.portfolio_item h5 {
    margin: 20px 0 20px 0;
    text-align: right;
    padding-top: 250px;
    text-transform:uppercase;
    font-weight:bold;
}

.portfolio_item h5 a {
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
		background-color: white;
}

.portfolio_item .role_wrapper {
    position: relative;
    margin-bottom:20px;
}

.portfolio_item .role {
    float: left;
    color: #000080;
    font-size: 30px;
    font-weight: bold;
    text-transform:uppercase;
    margin: 16px 10px 10px 10px;
    opacity:0.5;
}

.portfolio_item .role_title {
    float: right;
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
    color: #000080;
    line-height: 24px;
    text-align: right;
}

.portfolio_item span.role_skills {
    font-size: 18px;
    color: #a6a6a6;
}

 /*Individual*/

.chronicle {
	background:#fff url(assets/chronicle.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 40em;
	height: 22em;
	margin: auto;
}

.devcons {
	background:#fff url(assets/devcons.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 40em;
	height: 22em;
	margin: auto;
}
.spotagram {
	background:#fff url(assets/spotagram.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 40em;
	height: 22em;
	margin: auto;
}
